params {
    part = 'bait_test'
    covar = false
    logr = false
    chrom = false
    errorStrategy = 'ignore'
    queueSize = 1000
    maxForks = 45
}


profiles {

    standard {
        process.cpus = 35
        process.memory = "90.GB"
        process.container = "smshuai/gel-helper:1.0"
        process.errorStrategy = params.errorStrategy
        docker.enabled = true
    }

}

