params {
    part = 'bait_test'
    covar = false
    logr = false
    chrom = false
    errorStrategy = 'terminate'
    cpus = 35
    memory = "90.GB"
}


docker.enabled = true

process.cpus = params.cpus
process.memory = params.memory
process.container = "smshuai/gel-helper:1.0"
process.errorStrategy = params.errorStrategy

