params {
    part = 'bait_test'
    covar = false
    logr = false
    output = false
    plot = 'TRUE'
    errorStrategy = 'terminate'
    cpus = 35
    memory = "90.GB"
}


docker.enabled = true

process.cpus = params.cpus
process.memory = params.memory
process.container = "smshuai/gel-helper:1.1"
process.errorStrategy = params.errorStrategy

